.main_container{
    @apply w-full px-5 md:px-[60px] lg:px-[80px] xxl:px-[100px] py-[60px] md:py-[100px] c2xl:py-[140px] ;
    background: url("https://sourcebae.s3.amazonaws.com/production/image/png/1718878366736.webp") no-repeat ;
    background-size: cover;  
}
.card_wrapper{
    @apply flex flex-wrap xxl:flex-nowrap mt-10 md:mt-[60px] gap-6 xxl:gap-[30px] c2xl:gap-[40px]
}
.card{
@apply last-screen:w-[400px] last-screen:h-[480px] c2xl:h-[560px] w-full h-[509px] md:w-[312px] md:h-[484px] lg:w-[420px] lg:h-[560px] rounded-[18px] lg:rounded-[20px] xxl:rounded-[15px] c2xl:rounded-[20px] xxl:w-[300px] xxl:h-[420px]
 pt-[27px] lg:pt-[42px] xxl:pl-[18px] pl-[13px] lg:pl-6 c2xl:pl-6 overflow-hidden 
}
.step_div{
    @apply flex justify-center items-center text-ffffff font-semibold tracking-[-0.04em]
     text-[28px] lg:text-[36px] xxl:text-[26px] c2xl:text-[36px] w-[54px] h-[54px]
      lg:w-[68px] lg:h-[68px] xxl:w-[51px] xxl:h-[51px] c2xl:w-[68px] c2xl:h-[68px] rounded-[12px] xxl:rounded-[9px]
       c2xl:rounded-[12px] 
}
.card_head{
    @apply text-primary-black mt-4 lg:mt-5 xxl:mt-[15px] c2xl:mt-5 font-semibold text-[30px] lg:text-[36px] leading-[36px] lg:leading-[43px] xxl:text-[28px] xxl:leading-[33px] c2xl:text-[36px] c2xl:leading-[43px] tracking-[-0.04em] ;
 
}
.desc{
    @apply opacity-70 xxl:pr-[18px] pr-[13px] lg:pr-6 c2xl:pr-6 text-[#120A2C] text-16 md:text-14 lg:text-18 xxl:text-[12px] leading-6 md:leading-[21px] xxl:leading-4 c2xl:text-18 c2xl:leading-[27px] font-normal lg:leading-[27px] tracking-[-0.01em] mt-[10px] lg:mt-[13px] xxl:mt-2 c2xl:mt-[13px]
}
.card_img{
    @apply object-contain mt-[34px] lg:mt-7 xxl:mt-5 c2xl:mt-7

}
.btn{
    @apply mx-auto text-16 lg:text-[18px] c2xl:text-24 leading-[18px] c2xl:leading-6 bg-primary-black text-ffffff c2xl:w-[358px] c2xl:h-[77px] w-[223px] h-[47px] lg:w-[269px] lg:h-[58px] flex justify-center items-center c2xl:rounded-[40px] rounded-[30px]
    mt-10 lg:mt-[100px] xxl:mt-[78px] c2xl:mt-[180px]
} 